$myhealth-blue: #1a00ff;
$dark-blue: #1417ff;
$medium-blue: #0944ff;
$light-blue: #0066ff;
// $header-blue: #0000b9;
$header-blue: #2337c6;
$shadow-blue: #8C94F8;
$buttons-blue: #5865f2;
$icon-color: #5865f2;

$root-background-gray: #ebebeb;
$white: #ffffff;
$shadow-gray: #e2e2e2;
$gray: gray;
