$myhealth-blue: #1a00ff;
$dark-blue: #1417ff;
$medium-blue: #0944ff;
$light-blue: #0066ff;
// $header-blue: #0000b9;
$header-blue: #2337c6;

$root-background-gray: #ebebeb;
$white: #ffffff;
$shadow-gray: #e2e2e2;
$gray: gray;
$cardsGray: rgb(243, 243, 243);

// correct codes
$font-family: 'MyHealthNeueBlack', sans-serif;

$buttons-grey: #f5f5f5;
$shadow-blue: #8c94f8;
$buttons-blue: #5865f2;
$icon-color: #5865f2;
$header-color: #5865f2;
$letters-blue: #5865f2;
$placeholder-color: rgb(179, 178, 178);
$warning-color: black; // change it in future

// correct codes part 2
// $shadow-blue: #8c94f8;
// $buttons-blue: #4c13c7;
// $icon-color: #4c13c7;
// $header-color: #4c13c7;

// units
$header-fontsize: 1.5rem;
