.layout {
  height: 100dvh;
  width: 100%;
}

.menuFooterContainer {
  width: 100%;
  height: max(40px);
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 5px 5px 10px;
}
