@import 'src/styles/global/variables';

$box-width: min(95%, 380px);
$twenty-two: 22px;

.homeScreenContainer {
  width: 100%;
  height: 100dvh;
  background-color: $white;
}

.headerContainer {
  width: 100%;
  height: max(50px, 6%);
  display: flex;
  padding: 0 3%; // top and bottom is 0, left and right is 3%
}

.headerLanguage {
  font-family: serif;
  font-size: 0.9em;
  gap: 3px;
  width: max(60px, 20%);
  display: flex;
  align-items: center;
  color: $light-blue;
}

.headerSearch {
  width: 60%;
  padding: 0 1px;
}

.searchBar {
  padding-left: 20px;
  width: 98%;
  height: 60%;
  border-radius: 17px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:focus {
    outline: none;
    border: 2px solid $light-blue;
  }
}

.headerMenu {
  display: flex;
  justify-content: end;
  align-items: center;
  width: max(55px, 20%);
  padding-right: 15px;
}

.bodyContainer {
  padding-top: 1%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .homePageOffers {
    color: gray;
    width: $box-width;
    height: 20%;
    border-radius: $twenty-two;
    box-shadow:
      // rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
}

.bookingContainer {
  height: max(250px, 30%);
  width: $box-width;
  border-radius: $twenty-two;
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;

  .headingContainer {
    background-color: $light-blue;
    height: max(58px, 3.5em);
    color: $white;

    .heading {
      padding-left: $twenty-two;
      font-size: 1em;
      height: 26px;
      display: flex;
      align-items: center;
    }

    // overriding default styles from react-tabs
    // start
    .react-tabs__tab-list {
      display: flex;
      justify-content: center;
      gap: 2%;
    }
    .react-tabs__tab {
      background-color: inherit;
      color: $white;
      font-family: inherit;
      font-size: 0.98em;
    }
    .react-tabs__tab--selected {
      background-color: $white;
      color: $light-blue;
      border: 1px solid $white;
    }
  }

  .react-tabs__tab-panel {
    border: 1px solid;
  }
  // end
}

.appointmentContainer {
  width: 100%;
  height: 100%;

  .appointmentInputs {
    width: 46%;
  }
}
