@import 'src/styles/global/variables';

$padding: 18px;

.headerContainer {
  width: 100%;
  height: max(200px, 3rem);
  background-color: $header-blue;
  position: relative;
}

.bodyContainer {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 600px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: white;
}
