@import 'src/styles/global/variables';

.accountScreen {
  width: 100%;
  height: 100dvh;
}

.accountContainer {
  width: 50%;
  height: max(50%, 460px);
  border-radius: 30px;
  background-color: $white;
  padding: 2%;
  display: flex;
  position: relative;
}

.accountMessageContainer {
  width: 50%;
  height: 100%;
}

.accountMHLogo {
  font-size: 50px;
  color: $myhealth-blue;
}

.accountaccountText {
  font-size: 50px;
}

.googleAccountMessage {
  font-size: 20px;
  color: $gray;
}

.accountField {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
