* {
  overflow: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: rgb(235, 235, 235);
  /* background-color: #F2F7FA; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fullScreen {
  height: 100dvh;
  width: 100vw;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
